body{
    font-size: x-large;
    background-image: url(P1.jpg);
    color: aliceblue;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}
.cercle 
{ 
list-style-type: circle; 
} 
.carre 
{ 
list-style-type: square; 
} 
.rien 
{ 
list-style-type: none; 
}
.commence_a_zero 
{ 
list-style-type: decimal-leading-zero; 
} 
.lettres_minuscules 
{ 
list-style-type: lower-alpha; 
} 
.chiffres_romains 
{ 
list-style-type: upper-roman; 
} 
.lettres_grecques 
{ 
list-style-type: lower-greek; 
} 
 
/* Quelques styles supplémentaires juste pour la présentation 
En plus ça vous fait quelques rappels ;o) */ 
 
h2 
{ 
text-indent: 20px; 
font-family: Arial, Verdana, "Times New Roman", serif; 
} 
em 
{ 
background-color: yellow; 
} 
strong 
{ 
color: red; 
}
ul /* Ma liste aura des puces en forme de dossiers */ 
{ 
list-style-image: url("dossier.png"); 
} 
 
/* Juste pour améliorer la présentation : */ 
a 
{ 
color: blue; 
text-decoration: none; 
} 
a:hover 
{ 
text-decoration: underline; 
}
