table 
{ 
border-collapse: collapse; 
width: 50%;
border-radius: 10px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

} 
td, th /* Mettre une bordure sur les td ET les th */ 
{ 
border: 2px solid rgb(223, 210, 210); 
text-align: center;
padding: 8px 8px;

} 
.a{
    color: rgb(244, 136, 136);
}
.b{
    color: chartreuse;
}
body{
    font-size: x-large;
    background-image: url(P1.jpg);
    color: aliceblue;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    border-color: aliceblue;
}